.curban-section__cards--legends 
        .owl-carousel.owl-theme
          .item  
            include rostboy-legend-disc.pug
         
          - for(var x = 0 ; x < 13;x++)
              .item 
                include rostboy-legend-normal.pug