.navbar 
    
      p(class="intro-rust-r white size-45 borwsetext") Browse 
       span Menu 
       |&amp;
       span  Add
       |to Cart
      .navbar__backandSearch
       a(href="#" class="backBtn")
        img(src="../imgs/arrow.svg")
       button(class="search")
        //img(src="../imgs/search.svg")
       .shopping-cart  
        form(class="checkoutform")
            img(src="../imgs/shopping-cart.svg")
            a(class="intro-rust-r size-20 yellow-2" type="submit" data-link href="#") Checkout
            span(class="numberGoods") 4
        