div(class="Acai-legend-card-normal cubanbroscard" data-attribute="cros-popup--legend")
            img(src="../imgs/legend.png")
            .legend-card-discount__content
              h3(class="sofia-r size-14") Salmon Salad
              p(class="sofia-L size-12 grey") Description of the the menu item goes here from Deliveroo.
            a(href="#" class="plusBtn") 
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="64" viewBox="0 0 40 64">
                        <g id="Group_17860" data-name="Group 17860" transform="translate(-6 3.5)">
                            <g id="Group_17858" data-name="Group 17858">
                            <path id="Rectangle_4145" data-name="Rectangle 4145" d="M20,0A20,20,0,1,1,0,20,20,20,0,0,1,20,0Z" transform="translate(6 6)" fill="#fda50f"/>
                            </g>
                            <text id="Add_to_cart" data-name="Add to cart" transform="translate(11 40.5)" fill="#fff" font-size="50" font-family="CourierPrime-Bold, Courier Prime" font-weight="700"><tspan x="0" y="0">+</tspan></text>
                        </g>
                </svg>
            .Like
            
                    <svg xmlns="http://www.w3.org/2000/svg" id="Group_17481" data-name="Group 17481" width="42.615" height="42.615" viewBox="0 0 42.615 42.615">
                    <path id="Ellipse_58" data-name="Ellipse 58" d="M42.615,21.308A21.308,21.308,0,1,1,21.308,0,21.308,21.308,0,0,1,42.615,21.308Z" fill="transparent"/>
                    <g id="Group_17348" data-name="Group 17348" transform="translate(9.132 12.176)">
                        <path id="Path_3392" data-name="Path 3392" d="M13.73.84a6.131,6.131,0,0,0-2.248,2.288A6.131,6.131,0,0,0,6.137,0,6.487,6.487,0,0,0,0,6.532c0,8.512,11.482,14.451,11.482,14.451S22.964,15.048,22.964,6.532A6.487,6.487,0,0,0,16.826,0h0A6.131,6.131,0,0,0,13.73.84Z" transform="translate(0 0)" fill="#fff"/>
                    </g>
                    </svg>
             
            .label-disccount 
             p(class="intro-rust-r   size-20")
              span(class="yellow-2") $
              span 5.50